.toast { /*toast é a mensagem que aparece quando da erro na tela */
    position: absolute;
    font-size: 1.1em;
    padding: 1rem;
    background-color: #ef233c;
    border-radius: 7px;
    color: white;
    right: 50%;
    top: 1rem;
    transform: translateX(50%);

    & i { /* Icone que fica ao lado do toast */

        float: left;
    }
}